.song-name {
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 1.5s ease-in;
    font: 32px dejavu serif italic;
    letter-spacing: 5px;
    opacity: 1;
    filter: none;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(43, 250, 253, 1) 20%, rgba(15, 100, 145, 1) 50%, rgba(43, 250, 253, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(.4px);
}

.hide {
    opacity: 0;
    filter: blur(16px);
}